# **Capstone Project for IBM data science certificate**
# Objective: (clustering neighborhoods in Toronto) 
<br>

## **2. Get the latitude and the longitude coordinates of each neighborhood**. There are two methods:

> ## **A.** Useing the Geocoder Python package with a while loop
> ## **B.** Useing a csv file that has the geographical coordinates of each postal code

>> ### As method A can be unreliable, **we use method B** 
<br> 
***

### **step1)**  Read the CSV file:

In [9]:
import pandas as pd

# read csv file from the address
Geospacial_Coordinates = pd.read_csv('http://cocl.us/Geospatial_data', sep = ',') 
# examine the shape of original input data

Geospacial_Coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### **step2)** Read the dataframe from part1 of the project and concatinate the two tables

In [10]:
df4= pd.read_csv ('df4.csv') #import the dataframe from part1 of the project (scraped data from wikipedia)
df_final = pd.concat([df4, Geospacial_Coordinates], axis=1)
df_final = df_final .drop(['Unnamed''Postal Code'], axis = 1)
df_final .head()

,Unnamed: 0,Postcode,Borough,Neighborhood,Latitude,Longitude
0,0,M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
1,1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,2,M1E,Scarborough,"Morningside,Guildwood,West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [12]:
df_final.to_csv('df_final.csv')